<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>NodeJs</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
	</head>
	<body>
		<section class="hero is-fullheight is-large is-dark is-bold">
		  <!-- Hero header: will stick at the top -->
		  <div class="hero-head">
		    <header class="nav">
		      <div class="container is-fluid">
		        <div class="nav-left">
		          <a class="nav-item">
		            <img src="https://userscontent2.emaze.com/images/325b6b4d-3013-441f-8ae0-ae84a94270e3/0fd5b3563e383776f56fd3eff31256ca.png" alt="Logo">
		          </a>
		        </div>
		        <span class="nav-toggle">
		          <span></span>
		          <span></span>
		          <span></span>
		        </span>
		        <div class="nav-right nav-menu">
		          <a class="nav-item is-active" href="/">Home</a>
		          <a class="nav-item" href="/addProduto">Cadastrar</a>
		          <a class="nav-item" href="/produtos">Produtos</a>
		        </div>
		      </div>
		    </header>
		  </div>
		  <!-- Hero content: will be in the middle -->
		  <div class="hero-body">
		    <div class="container has-text-centered">
		      <h1 class="title">Welcome</h1>
		      <h2 class="subtitle">This Page is made with NodeJS</h2>
		    </div>
		  </div>
		</section>
	</body>
</html>